{% extends "layout.html" %}
  {% block body %}
  <!-- Page Header -->
<header class="masthead" style="background-image:  url('  {{ url_for('static', filename='img/home-bg.jpg') }} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Deep Coding Admin Panel </h1>
            <span class="subheading">Get Ready to be a Coder</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         
        <h1>Basic Actions</h1>

        <a href= "/login"><button class ="btn btn-primary">Back to Dashboard</button></a>
        <a href= "/logout"><button class ="btn btn-primary">LOGOUT</button></a>
        
        <h1>ADD / Edit Posts</h1> 
        
        <form name="sentMessage"  action = "/edit/{{post.SLNo}}" method ="post" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="title" id="title" name="title" value="{{post.title}}" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>slug</label>
                <input type="text" class="form-control" placeholder="slug" id="slug" name="slug"value="{{post.slug}}" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>img_file</label>
                <input type="text" class="form-control" placeholder="img_file" id="img_file"  name ="img_file" value="{{post.img_file}}" required data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>content</label>
                <textarea rows="5" class="form-control" placeholder="content" id="content" name="content" required data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
          </form>

      </div>
    </div>
  </div>
{% endblock %}
 

